@import "../../_globalColor";

.footer-div {
  text-align: center;
  padding: 40px 0;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  font-size: 50px;
  line-height: normal;
  color: $textColor;
}

.subtitle {
  font-size: 20px;
  line-height: 30px;
  color: $textColor;
  margin-bottom: 30px;
}

.email-link {
  font-size: 24px;
  font-weight: bold;
  color: $accentColor;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.email-link:hover {
  color: $buttonHover;
}

.social-media-div {
  margin-top: 30px;
}

.button-greeting-div {
  margin-top: 30px;
}

.footer-text {
  margin-top: 40px;
  font-size: 14px;
  color: $textColor;
}

.footer-text a {
  color: $accentColor;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

.dark-mode-tint {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 40px 0;
}

.dark-mode-heading {
  color: $textColorDark;
}

.dark-mode-subtitle {
  color: $textSecondaryDark;
}

.dark-mode.footer-text {
  color: $textSecondaryDark;
}
